.banner {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background:
    url(../img/tite.png) bottom right / 30% 80vh no-repeat,
    url(../img/bg.png) center / 100% 100vh no-repeat;
}

.banner-title {
    text-align: center;
    width: 100%;
    color: white;
    position: relative;
    top: 3rem;
    text-transform: uppercase;
    font-size: 5rem;
}

.banner-title::before {
    content: 'Brasil';
    font-size: 3rem;
    position: absolute;
    left: 50%;
    top: -2rem;
    transform: translateX(-50%);
    font-size: 2rem;
    background-image: linear-gradient(to right, #00FFFF, #00FF00, #d6ff20);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}

.banner-title::after {
    content: '';
    background: url(../img/trophy.png) center / 110% no-repeat;
    width: 240px;
    height: 190px;
    position: absolute;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
}
