.sides-separator {
	position: absolute;
    top: 0px;
	left: 50%;
	height: calc(var(--altura-campo) * var(--escala));
	width: var(--espessura-linhas);
	background-color: white;
	transform: rotateX(90deg) translateX(-50%);
}

/* small circle */
.sides-separator::before {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #FFF3;
	box-shadow: 0px 0px 3px 2px #0008;
	animation: ballShadow 0.8s ease-out infinite alternate-reverse;
	
}

@keyframes ballShadow {
	90% {animation-timing-function: ease-in;}
	100% {box-shadow: 0px 0px 3px 8px #0003; background-color: #FFFE;}
}


.ball {
	position: absolute;
	left: calc(50% - 8px);
	top: 32px;
	width: 15px;
	height: 15px;
	background: #FFFFFF url(../img/football-ball.png);
	border-radius: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	animation: ballRotate 10s infinite linear,
			ballBouncing 0.8s ease-out infinite alternate-reverse;
	
}

@keyframes ballRotate {
	to {transform: rotateY(-360deg)}
}

@keyframes ballBouncing {
	90% {animation-timing-function: ease-in;}
	100% {top: 0;}
}

/* bigger circle */
.sides-separator::after {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30px;
	height: 30px;
	border: solid var(--espessura-linhas) white;
	border-radius: 50%;
	background-color: transparent;
}